*{
	margin: 0;
	padding: 0;
}

html, body{
	overflow: auto;
	/*margin: 1%;*/
	/*overflow: hidden;*/
}


.colorbar{
    display: inline-block;
    height: 100%;
    margin: 0;
    padding: 0;
}

.posterPreviewContainer img{
    height: 80%;
}

.showcase{
    background-color: ghostwhite;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 100;
    display: none;
    position: absolute;
    /*text-align: center;*/
}



.showcasecontent {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate( -50%, -50% ) ;
}

.showcasecontent img{
    height: 90%;
}


.imgwrapper{
    display: inline-block;
}

.imgcaption{
    display: inline-block;
    position: absolute;
}
